SPRING_DATA_MONGODB_URI=mongodb://localhost:27017/tripplanner?retryWrites=true&w=majority
SPRING_DATA_MONGODB_DATABASE=tripplanner
TELEGRAM_BOT_TOKEN=7687419368:AAHRuN00r0_WBAkRVQA65e5q2B7zaU8xgHs
ADMIN_API_KEY=YOUR_ADMIN_API_KEY_HERE
